

@font-face {
    font-family: 'neondesmonregular';
    src: url('/View/fonts/neon/neon_desmon-webfont.woff2') format('woff2'),
         url('/View/fonts/neon/neon_desmon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    
    cursor: none;
    user-select: none;
}


:root{
    --main-color: #1E00FF;
    --cursor-color: #ffffff;
    --animation-duration : 1.5s;
    --shutdown-duration : 2s;
    --ignition-duration : 3s;
    --number-of-columns : 7;
    --number-of-lines : 6;
    --highlight-duration: 1.5s;
}


body{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

input.hidden{
    opacity: 0;
    width: 100%;
    height: 100%;
}

#main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

#main > * {
    align-self: center;
    margin-right: 5vh;
}

#main > *{
    justify-self: end;
}

#main > *:first-child{
    margin-right: 20vh;
    margin-top: 10vh;
}




