@keyframes arrow-animation {
    0%{
        top: -13vh;
    }

    50%{
        top: -11vh;
    }

    100%{
        top: -13vh
    }
}

@keyframes shutdown-flicker {
    0%, 18%, 22%, 25%, 53%, 57% {
        box-shadow: 
            inset 0 0  2vh 0 currentColor,
            0 0  2vh 0 currentColor;
    }
    20%, 24%, 55%{       
        box-shadow: none;
    }

    70%{
        border-color: currentColor;
    }

    100%{
        border-color: rgba(0,0,0,0);
        box-shadow: none;
    }
}

@keyframes tmp-flicker {
    0%, 18%, 22%, 25%, 53%, 57% {
        box-shadow: 
            inset 0 0  2vh 0 currentColor,
            0 0  2vh 0 currentColor;
    }
    20%, 24%, 55%{       
        box-shadow: none;
    }
}

@keyframes tmp-flicker-text {
    0%, 18%, 22%, 25%, 53%, 57% {
        
        text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor, 0 0 2vh currentColor;
    }
    20%, 24%, 55%{       
        text-shadow: none;
    }
}

@keyframes tmp-flicker-shadow {
    0%, 18%, 22%, 25%, 53%, 57% {
        opacity: 0.7;
    }
    20%, 24%, 55%{       
        opacity: 0.2;
    }
}


@keyframes flicker-inactive-text {
    0%, 18%, 22%, 25%, 53%, 57% {
        text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor, 0 0 2vh currentColor;
    }
    20%, 24%, 55%{       
        text-shadow: none;
    }

    70%{
        opacity: 1;
    }

    100%{
        opacity: 0.3;
        text-shadow: none;
    }
    
}


@keyframes shutdown-flicker-text {
    0%, 18%, 22%, 25%, 53%, 57% {
        text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor, 0 0 2vh currentColor;
    }
    20%, 24%, 55%{       
        text-shadow: none;
    }

    70%{
        color: currentColor;
    }

    100%{
        color: rgba(0,0,0,0);
        text-shadow: none;
    }
    
}




@keyframes ignition-flicker {

    
    0% {
        opacity: 0;
    }

    39%, 35%, 32%, 14%, 10% {
        box-shadow: none;
        opacity: 0.4;
    }
    37%, 33%, 22%, 67%{   
        opacity: 1;    
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }

    100%{
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }

}

@keyframes ignition-flicker-text {

    
    0% {
        opacity: 0;
    }

    39%, 35%, 32%, 14%, 10% {
        box-shadow: none;
        opacity: 0.4;
    }
    37%, 33%, 22%, 67%{   
        opacity: 1;    
        text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor, 0 0 2vh currentColor;
    }

    100%{
        text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor, 0 0 2vh currentColor;
    }

}

@keyframes ignition-flicker-cell {

    39%, 35%, 32%, 14%, 10% {
        box-shadow: none;
    }
    37%, 33%, 22%, 67%{   
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }

    100%{
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }

}

@keyframes flicker-shadow {
    0%, 18%, 22%, 25%, 53%, 57% {
        opacity: 0.7;
    }
    20%, 24%, 55%{       
        opacity: 0.2;
    }


    100%{
        opacity: 0;
    }
}


@keyframes fall {
    100% {top: var(--target-height)}
  }

@keyframes rebound {
    10% {top: calc(var(--target-height)*0.7)}
    13% {top: calc(var(--target-height)*0.68)}
    15% {top: calc(var(--target-height)*0.7)}
    30% {top: var(--target-height)}
    35% {top: calc(var(--target-height)*0.91)}
    37% {top: calc(var(--target-height)*0.9)}
    40% {top: calc(var(--target-height)*0.91)}
    45% {top: calc(var(--target-height))}
    50% {top: calc(var(--target-height)*0.97)}
    60% {top: var(--target-height)}
    70% {top: var(--target-height)}
    100% {top: var(--target-height)}
}


@keyframes highlight-flicker {

    
    0%, 18%, 22%, 25%, 53%, 57% {
        box-shadow: 
            inset 0 0  2vh 0 currentColor,
            0 0  2vh 0 currentColor;
    }
    20%, 24%, 55%{       
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }

    100%{
        box-shadow: 
        inset 0 0  2vh 0 currentColor,
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    }
}
