@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

.grid.shutdown{

    .arrow-icon{   
        animation: shutdown-flicker-text var(--shutdown-duration) ease-in-out forwards, arrow-animation 1s ease-in-out infinite !important;
    }

    .token:not(.highlight){
        animation: shutdown-flicker var(--shutdown-duration)  ease-in-out forwards !important;
    }
        
    .cell:not(.hidden)::before{
        animation: shutdown-flicker var(--shutdown-duration)  ease-in-out forwards;
        animation-play-state: running !important;
    }   
}




.cell.shutdown-flicker::before{
    animation: shutdown-flicker var(--animation-duration) ease-in-out forwards !important;
}

.grid {
    position: relative;
    width: 70vh;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
    grid-template-rows: repeat(var(--number-of-lines), 1fr);
    color: var(--main-color);
    padding: 1vh;
    

    .cell.hint::before{
        animation: highlight-flicker var(--highlight-duration)  ease-in-out forwards !important;
    }

    .cell::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        
        width: 70%;
        height: 70%;
        border: 3px solid;
        color: var(--main-color);
        border-color: var(--main-color);
        border-radius: 100%;
        box-shadow: 
        inset 0 0  2vh 0 var(--main-color),
        0 0  2vh 0 var(--main-color);

    }

    .cell.ignition {
        
        animation: ignition-flicker-cell var(--ignition-duration)  ease-in-out forwards;
    }
    .cell{
        position: relative;
        width: 100%;
        height: 100%;
        transition: box-shadow 100ms ease-in-out;
    }

    .cell.hidden{
        opacity: 0;
    }

    .cell.preview::before {
        box-shadow: 
        inset 0 0  2vh 0 var(--main-color),
        inset 0 0  2vh 0 var(--main-color),
        0 0  2vh 0 var(--main-color),
        0 0  2vh 0 var(--main-color) !important;
    }

    .arrow-icon{
        color: var(--main-color);
        font-weight: 200;
        font-family: 'Nunito', sans-serif;
        position: absolute;
        top: -11vh;
        left: 3.5vh;
        font-size: 8vh;
        text-shadow: 0 0 2vh var(--main-color), 0 0 2vh var(--main-color), 0 0 2vh var(--main-color);
        animation: arrow-animation 1s ease-in-out infinite;
        transition: left 50ms ease-in-out;
    }
}

