.neon-box::before{
    content: "";
    position: absolute;
    color: var(--main-color);
    background-color: currentColor;
    bottom: -40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 60%;
    transform: perspective(15vh) rotateX(60deg) scale(1, 0.35);
    filter: blur(12vh);
    opacity: 0.7;

}

.neon-box.tmp-flicker, .neon:not(.cell).tmp-flicker, .neon.cell.tmp-flicker::before{
    animation: tmp-flicker 1.5s infinite alternate;

    
}

.neon-box.tmp-flicker::before{
    animation: tmp-flicker-shadow 1.5s infinite alternate;
}


.neon-box.ignition{
    
    animation: ignition-flicker var(--ignition-duration)  ease-in-out forwards;
}

.neon-box {
    color: var(--main-color);
    border: 3px solid;
    border-color: currentColor;
    border-radius: 4vh;
    box-shadow: 
    inset 0 0  2vh 0 currentColor,
    0 0  2vh 0 currentColor;

    &.player1{
        color: var(--player1-color);
    }
    &.player0{
        color: var(--player2-color);
    }
    &.player1::before{
        color: var(--player1-color);
    }
    &.player0::before{
        color: var(--player2-color);
    }
    
}

.neon-box.shutdown{
    &::before{
        animation: flicker-shadow var(--shutdown-duration) ease-in-out forwards !important;
    }
    animation: shutdown-flicker var(--shutdown-duration) ease-in-out forwards !important;
    animation-play-state: running !important;
}


.neon-text.shutdown{
    animation: shutdown-flicker-text var(--shutdown-duration) ease-in-out forwards !important;
}


.neon-text{
    color: var(--main-color);
    text-shadow: 0 0 2vh currentColor, 0 0 2vh currentColor;
    transition: text-shadow 100ms ease-in-out;
    animation: ignition-flicker-text var(--ignition-duration)  ease-in-out forwards;
    font-family: "neondesmonregular";
    text-transform: uppercase;
    user-select: none;
    
    &.player1{
        color: var(--player1-color);
    }
    &.player0{
        color: var(--player2-color);
    }
    &.player1::before{
        color: var(--player1-color);
    }
    &.player0::before{
        color: var(--player2-color);
    }
}


.neon-text.hoverable:hover{
    text-shadow: 
    0 0 2vh currentColor, 
    0 0 2vh currentColor, 
    0 0 2vh currentColor, 
    0 0 2vh currentColor ,
    0 0 4vh currentColor, 
    0 0 4vh currentColor, 
    0 0 4vh currentColor 
    !important;
}


