:root {
    --target-height: 52.5vh;
    --rebound-animation-duration: 1.5s;
    --player1-color: #FFFF00;
    --player2-color: #ff0000;
}



.token{
    position: absolute;
    border: 3px solid currentColor;
    border-radius: 100%;
    box-shadow: 
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    pointer-events: none;
    transition: box-shadow 100ms ease-in-out;
}

.token.highlight{
    box-shadow: 
        inset 0 0  2vh 0 currentColor,
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor;
    animation: highlight-flicker var(--highlight-duration)  ease-in-out forwards !important;

}

.token.hoverable:hover{
    box-shadow: 
        inset 0 0  2vh 0 currentColor,
        inset 0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor,
        0 0  2vh 0 currentColor !important;
}


.token.rebound{
    animation: rebound 1s linear;
}


