.ui-main-panel{
    position: relative;
    height: 80vh;
    width: 50vh;
    box-sizing: border-box;
    padding: 6vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
}

.ui-main-panel > *{
    width: 100%;
}


.ai-toggle {
    width: fit-content;
    font-size: 5vh;
    font-weight: bold;
}

.ai-level-container{
    padding: 3vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ai-level {
    font-size: 3vh;
    font-weight: bold;
    transition: opacity 100ms ease-in-out;
    width: 4vh;
}

.keyboard-bindings{
    margin-top: -5vh;
    font-size: 3vh;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



.ai-starting{

    font-size: 3vh;
}



.ai-level:not(.active), .AI-inactive, .ai-starting:not(.active), .ai-toggle:not(.active) {
    text-shadow: none;
    opacity: 0.3;
}

.ai-level:not(.active):hover, .ai-starting:hover, .ai-toggle:hover {
    opacity: 1;
}



.ai-element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#cursor {
    position: absolute;
    z-index: 3000;
    font-family: 'Nunito', sans-serif;
    color: var(--cursor-color);
    text-shadow: 0 0 2vh var(--cursor-color), 0 0 2vh var(--cursor-color);
    font-size: 5em;
    height: 0.8em;
    width: 0.4em;
    transform: rotate(150deg);
    pointer-events: none;
}


.cursor-color-picker {
    height: 7vh;
    position: relative;
    input {
        z-index: 3;
        position: absolute;
    }
}

.cursor {
    font-family: 'Nunito', sans-serif;
    color: var(--cursor-color);
    text-shadow: 0 0 2vh var(--cursor-color), 0 0 2vh var(--cursor-color);
    font-size: 10vh;
    transform: rotate(150deg) translate(-1.4vh, 2.9vh);

    animation: ignition-flicker-text var(--ignition-duration)  ease-in-out forwards;
}

.cursor-color-picker:hover{
    .cursor{
        text-shadow: 0 0 2vh var(--cursor-color), 0 0 2vh var(--cursor-color), 0 0 2vh var(--cursor-color), 0 0 2vh var(--cursor-color) !important;
    }
}

.color-picker-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.color-picker-label{
    position: absolute;
    left: 0;
    top: -6vh;
    font-size: 2vh;
    width: 100%;
    text-align: center;
}


.ui-element {
    position: unset !important;
    pointer-events: all;
}

.grid-color-selector {
    position: relative !important;
    color: var(--main-color);
    input {
        height: 143%;
        width: 143%;
        transform: translate(-18%, -18%);
    }
    animation: ignition-flicker var(--ignition-duration)  ease-in-out forwards;
}

.grid-color-selector::before{
    content: "";
    position: absolute;
    height: 143%;
    width: 143%;
    transform: translate(-18%, -18%);
    border: 3px solid var(--main-color);
    border-radius: 1vh;
    box-shadow: 
    inset 0 0  2vh 0 var(--main-color),
    0 0  2vh 0 var(--main-color);
}

.grid-color-selector:hover::before{
    color: var(--main-color);
    box-shadow: 
    inset 0 0  2vh 0 var(--main-color),
    inset 0 0  2vh 0 var(--main-color),
    0 0  2vh 0 var(--main-color),
    0 0  2vh 0 var(--main-color) !important;

}





.player-color-selector.player1{
    color: var(--player1-color);
    animation: ignition-flicker var(--ignition-duration)  ease-in-out forwards;
}

.player-color-selector.player2{
    color: var(--player2-color);
    animation: ignition-flicker var(--ignition-duration)  ease-in-out forwards;
}


#title{
    position: absolute;
    font-size: 4vh;
    top: 2vh;
    font-weight: bold;
    left: 1vw;
}