

.victory-modal.neon-box{
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: 100;
    padding: 3vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before{
        top: 30vh;
        width: 85%;
        height: 85%;
    }
}

.victory-text{
    font-size: 6vh;
    padding-bottom: 5%;
}

.instructions-text{
    font-size: 3vh;
}
